body {
  margin: 0;
}

li{
  font-size: 20px;
  color: darkred;
  display: inline;
  padding-right: 50px;

}
.main{
  text-align: center;
  color: darkred;

}
p{
  text-align: justify;
  color: black;
}
.about{
  border: 2px solid black;
  float: left;
  margin: 15px 15px 15px 15px;
  padding:15px 15px 15px 15px;
  width:250px;
}
.mavis{
  border: 2px solid black;
  float: right;
  margin: 15px 15px 15px 15px;
  padding:15px 15px 15px 15px;
  width:250px;
}
.image{
  border-radius: 20px;
  width: 1230px;
}

.body-class {
  margin: 20px 20px 20px 20px;
}
.img{
  display:inline;
  border-radius: 50%;
  width: 100px;
  height: 200px;
}
.nav-list2{
  float: right;
}
