body {
  margin: 0;
}

li{
  font-size: 20px;
  color: darkred;
  display: inline;
  padding-right: 50px;

}
.main{
  text-align: center;
}
p{
  text-align: justify;
  color: black;
}
.about{
  border: 2px solid black;
  float: left;
  margin: 15px 15px 15px 15px;
  padding:15px 15px 15px 15px;
  width:250px;
}
.mavis{
  border: 2px solid black;
  float: right;
  margin: 15px 15px 15px 15px;
  padding:15px 15px 15px 15px;
  width:250px;
}
.image{
  border-radius: 20px;
  width: 1230px;
}

.body-class {
  margin: 20px 20px 20px 20px;
  background-color: : lightpink;
}
.img{
  padding: 20px;
  display:inline;
  border-radius: 50%;

}
.nav-list2{
  float: right;
}
.about-box{
  width: 52%;
  margin:0 auto;
}
h2{
  color: lightgreen;
}

h3{
  text-align: justify;
}
.info{
  text-align: center;
}
.contact{
  border: 2px solid black;
  float: left;
  margin: 15px 15px 15px 15px;
  padding:15px 15px 15px 15px;
  width:250px;
}
.address{
  border: 2px solid black;
  float: right;
  margin: 15px 15px 15px 15px;
  padding:15px 15px 25px 25px;
  width:250px;
}
.contact-box{
  width: 52%;
  margin:0 auto;
}
